@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Rubik:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 1400px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  box-shadow: 0px 10px 50px #073b4c;
}

header,
footer {
  display: flex;
  background-color: #073b4c;
}

header {
  height: 300px;
}

footer {
  height: 150px;
  padding: 20px 0px 0px 80px;
}

.contacts {
  display: -ms-flexbox;
  width: 30%;
  padding: 40px 0;
  line-height: 30px;
  font-size: 70%;
}

.icon {
  width: 20px;
  height: 15px;
  margin-right: 15px;
}

.userinfo {
  display: -ms-flexbox;
  width: 40%;
  text-align: center;
  padding-top: 100px;
  line-height: 70px;
  font-size: 200%;
}

.userpic {
  display: flex;
  width: 30%;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#cv-foto {
  width: 240px;
  height: auto;
  border: 5px solid #118ab2;
  border-radius: 15px;
}

main {
  border: 1px #073b4c;
  padding: 20px 80px 20px 80px;
}

h1,
h2 {
  font-family: "Pathway Gothic One", sans-serif;
  color: #118ab2;
}

.titleContacts {
  font-size: 32px;
  padding-left: 20px;
}

h3,
.qualification {
  font-family: "Pathway Gothic One", sans-serif;
  color: white;
}

h4,
address,
ul,
a {
  font-family: "Rubik", sans-serif;
  font-size: 1.4em;
  padding: 15px 0px 15px 0px;
}

.titel {
  background-color: #118ab2;
  border-radius: 5px;
  width: 35%;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 40px 0px 40px 0px;
  grid-auto-rows: minmax(100px, auto);
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: auto;
}

#aboutme-text {
  padding: 40px 0px 40px 0px;
  font-size: 200%;
  font-style: italic;
}

ul {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 130%;
  line-height: 40px;
  list-style-type: circle;
}

.list-contacts {
  list-style-type: none;
}

.list-contacts a {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

a {
  color: #118ab2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.list-contacts a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.date {
  float: right;
  font-size: 1.3em;
  padding-top: 15px;
}

#rs-logo,
#github {
  width: 100px;
  height: auto;
  margin: 0px 30px 0px 30px;
}

#copyright {
  color: white;
  font-size: 1.2em;
  float: right;
  padding-top: 90px;
}

.rslinks {
  display: flex;
  height: 100px;
  width: 800px;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
